<% if @billing_filter.errors.any? %>
  <div id="errorExplanation">
    <ul>
    <% @billing_filter.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<div id="query_form_content" class="hide-when-print">
  <fieldset id="filters" class="collapsible">
    <legend onclick="toggleFieldset(this);">Filter</legend>
      <div style>
        <table style="width: 100%;">
          <tbody>
            <tr>
              <td>
                <%= f.label "Time entry start date" %>
              </td>
              <td>
                <%= f.text_field :start_date %>
                <%= calendar_for "billing_filter_start_date" %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label "Time entry end date" %>
              </td>
              <td>
                <%= f.text_field :end_date %>
                <%= calendar_for "billing_filter_end_date" %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label "Only include closed issues" %>
              </td>
              <td>
                <%= f.check_box :closed %>
              </td>
            </tr>
          </tbody>
        </table>


    </div>
  </fieldset>
</div>

<p class="buttons hide-when-print">
  <%= link_to_function l(:button_apply), "$('new_billing_filter').submit()", :class => 'icon icon-checked' %>
  <%= link_to "Clear Filter", billing_issues_path, :class => 'icon icon-reload' %>
</p>
