<h2>Issues for billing - <%= @project.name %></h2>

<%= form_for(@billing_filter, :url => billing_issues_path,  :method => "get") do |f| %>
<%= render :partial => 'filter', :locals => {:f => f} %>
<% end %>

<% unless @issues.empty? %>
<table class="list">
  <thead>
    <tr>
      <th>ID</th>
      <th>Subject</th>
      <th>Date and Time</th>
      <th>Raised by</th>
      <th>Actioned by</th>
      <th>Time spent (hours)</th>
    </tr>
  </thead>
  <tbody>
<% @issues.each do |i| %>
  <tr>
    <td><%= i.id %></td>
    <td><%= link_to i.subject, issue_path(i) %></td>
    <td><%= format_time(i.created_on) %></td>
    <td><%= i.custom_value.split(";").first.strip %></td>
    <td><%= (i.assigned_to.nil?) ? i.author : i.assigned_to %></td>
    <td><%= get_billable_hours(i.hours).to_s %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<% else %>
<p class="nodata">There are no issues to bill. Please clear or alter the filter.</p>
<% end %>

<p class="other-formats">
  Also available in:  
  <span>
    <%= link_to "CSV", billing_issues_path(:format => 'csv') %>
  </span>
  <span>
    <%= link_to "PDF", billing_issues_path(:format => 'pdf') %>
  </span>
</p>

